.project
.classpath
VisuFramework/bin/
VisuServeur/visu/build/
VisuServeur/visu/bin/
deploy/
VisuServeur/visu/.settings/
comp-info.properties
VisuFramework/.project
VisuApplication/.project
VisuApplication/.settings/
org.eclipse.core.resources.prefs
SessionModule/.settings/org.eclipse.core.resources.prefs
SessionModule/.project
HomeModule/.settings/org.eclipse.core.resources.prefs
HomeModule/.project
UserModule/.project
UserModule/.settings/org.eclipse.core.resources.prefs

